@page
@model MyApp.Namespace.AboutModel
@{
    ViewData["Title"] = "About";
}
<div class="home">
    <h1>About me</h1>
    <p>My name is Alaa Zaza and I live in Lund with my husband and my two children. I am currently completing an online web development program at Mid Sweden University </p>
</div>